<% content_for :title do %> About <% end %>
<h3> About Foobar Kadigan </h3>
<p>He was born in Waikikamukau, New Zealand.He left New Zeland for England,
excelled at the University of Mopery, and served in the Royal Loamshire Regiment.
While in serice, he invented the kanuten valve used in processing of unobtainium for industrial user. With a partner, Grandpa Fairbook, he founded Acme Manufacturing, later acquired by the Advent Corporation, to develop his discovery for use in the Turboencabulator. Mr. Kadigan is now retired and lives in Middlehampton with a favorite cat, where he raises Gridaium frieda and collects meta syntactic variables.</p>

<p>His favourite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing eli, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>